[nicehash]
chan.id = 820149912445255681
strategy = static
fee_ppm = 569

[lnd-11,WoS]
chan.id = 819172446615961600, 821451734229057537
strategy = static
fee_ppm = 344

[all-outbound]
chan.min_ratio = .9
strategy = static
fee_ppm = 0
max_htlc_msat_ratio=.1

[high-outbound] 
chan.max_ratio = .9
chan.min_ratio = .7
strategy = static
fee_ppm = 29
max_htlc_msat_ratio=.25

[parity]
chan.max_ratio = .7
chan.min_ratio = .3
strategy = static
fee_ppm = 49

[high-inbound] 
chan.max_ratio = .3
chan.min_ratio = .1
strategy = static
fee_ppm = 74

[all-inbound] 
chan.max_ratio = .1
strategy = static
fee_ppm = 344

[default]
fee_ppm = 244

